.main-block {
  background: #00392e;
}
.yellow-btn {
  background-color: #fccf00;
  border: none;
  color: #005141;
  border-radius: 30px;
  outline: inherit;
  padding: 7px 47px;
  font-family: Somatic;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  &:hover, &:active, &:focus, &:visited{
    background: #ecc101;
    box-shadow: 0px 3px 0px #997e07;
}
  @media (max-width: 767px) {
    font-size: 5.1948vw;
    padding: 3.332vw 14.372vw;
  }
}
.green-btn {
  background-color: #005141;
  border: none;
  border-radius: 30px;
  padding: 7px 47px;
  font-family: Somatic;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  @media (max-width: 767px) {
    font-size: 5.192vw;
    height: 12.5vw;
  }
  &:hover, &:active, &:focus, &:visited{
      background: #01634f;
      box-shadow: 0px 3px 0px #00a259;
  }
}
.float-left {
  float: left;
  @media (max-width: 767px) {
    float: none;
  }
}
.float-right {
  float: right;
  @media (max-width: 767px) {
    float: none;
  }
}
.menu {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  padding: 0px 20px;
  @media (max-width: 767px) {
    padding: 20px;
  }
  .logo {
    max-width: 201px;
    width: 100%;
    @media (max-width: 767px) {
      float: left;
      width: 50vw;
    }
  }
  .menutab {
    float: right;
    list-style: none;
    padding: 5px 15px;
    margin-bottom: 0;
    li {
      float: left;
      font-size: 20px;
      font-family: 'Somatic';
      font-weight: 400;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    .connect_btn a{
      padding: 5px 23px;
      background: #FCCF00;
      border-radius: 30px;
      box-shadow: 0px 2px 3px 1px #015f4d;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .mobilemenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 65vw;
    height: 100vh;
    background-color: #00a259ed;
    z-index: 99999;
    text-align: left;
    list-style: none;
    font-size: 5.332vw;
    font-family: "Montserrat", sans-serif;
    padding-top: 15.23vw;
    transition: left 1s;
    @media (min-width: 768px) {
      display: none;
    }
    li {
      margin-bottom: 3.15vw;
      font-family: 'Somatic';
      a {
        color: #fff;
        text-decoration: none;
      }
      &:first-child {
        text-align: right;
        padding-right: 2rem;
      }
    }
  }
}
.menuButton {
  background-color: #fccf00;
  border: none;
  border-radius: 50%;
  padding: 3px 7px;
  color: #fff;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  &.open {
    float: right;
    position: relative;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
section#head{
  background: #00A259;
  color: #fff;
}
section#crypto_jungle {
  background: url("./img/s1.png") no-repeat, #015f4d no-repeat center center;
  background-size: 100% 100%;
  padding: 7vw 0 7vw 0;
  @media (max-width: 767px) {
    background-size: cover;
    padding-bottom: 90px;
  }
  .bonobo-content-card {
    color: #fff;
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    @media (max-width: 767px) {
      text-align: center;
      padding: 0 10px;
      flex-direction: column;
    }
    .bonobo-heading {
      h1 {
        color: #ffffff;
        font-family: 'Jungle Bones';
        font-size: 8.3333vw;
        line-height: 9.843vw;
        @media (max-width: 767px) {
          font-size: 19.33vw;
          line-height: 19.83vw;
        }
      }
    }
    .bonobo-content {
      margin-top: 1.5rem;
      h5{
        font-family: Somatic;
        font-size: 30px;
        line-height: 32px;
        max-width: 450px;
        background: #000;
        span{
          color: #fccf00;
          font-size: 35px;
        }
      }
      a{
        width: 37px !important;
        height: 37px !important;
      }
    }
    .bonobo-button {
      margin-top: 2vw;
      span{
        img{
          width: 26px;
        }
      }
      .coins{
        height: 47px;
        margin: 0 3px;
        margin-top: -10px;
      }
    }
    .bonobo {
      width: 20.833vw;
      position: relative;
      @media (max-width: 767px) {
        width: 60.332vw;
        top: 9.3vw;
      }
    }
  }
}
section#join_el_bonobo {
  background: #005141 no-repeat center center;
  position: relative;
  max-width: 100%;
  overflow-y: auto;
  .s2-bonobo-content-card {
    width: 62.5%;
    color: #fff;
    padding: 6vw 5vw 0 5vw;
    @media (max-width: 767px) {
      text-align: center;
      width: 100%;
      padding: 20px;
    }
    h2 {
      font-size: 36px;
      font-family: 'Somatic';
      line-height: 50px;
    }
    ul {
      padding-left: 10px;
      li {
        margin: 10px;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        @media (max-width: 767px) {
          font-size: 17px;
        }
      }
    }
    p {
      font-family: 'IBM Plex Sans Condensed', sans-serif;
      font-size: 20px;
      line-height: 24px;
      @media (max-width: 767px) {
        font-size: 17px;
      }
      b {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: 800;
      }
    }
  }
  .imgs {
    width: 37.5%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  .leafsun {
    background: #4FB5EE;
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;
    min-height: 500px;
    .leaf1{
      position: absolute;
      top: -30px;
      left: -41px;
      z-index: 1;
      img{
        width: 100%;
        height: 291px;
        max-width: 321px;
      }
    }
    .leaf2{
      position: absolute;
      bottom: -50px;
      left: 11%;
      z-index: 1;
      img{
        width: 100%;
        height: 291px;
        max-width: 321px;
      }
    }
    .sun{
      max-width: 311px;
      margin: auto;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 150%;
      left: 50%;
      z-index: 0;
      img{
        width: 100%;
      }
    }
  }
  button {
    margin-top: 3.073vw;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin-top: 0.073vw;
    }
  }
}
#marketing, #scamscan{
  background-color: #fccf00;
  position: relative;
  padding: 3.12vw 0 3.12vw 0vw;
  .content{
    max-width: 1250px;
    margin: auto;
    width: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    @media (max-width: 767px){
      flex-direction: column;
      padding: 50px 15px;
      align-items: center !important;
    }
  }
  h2{
    font-family: Somatic;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    color: #005141;
    @media (max-width: 767px){
      font-size: 31px;
      text-align: center;
      line-height: 31px;
    }
  }
  p{
    font-family: Somatic;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    color: #005141;
    @media (max-width: 767px){
      font-size: 21px;
      text-align: center;
      line-height: 25px;
    }
  }
  h5{
    font-family:  'IBM Plex Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #005141;
    @media (max-width: 767px){
      font-size: 19px;
      text-align: center;
      line-height: 21px;
    }
  }
  button{
    @media (max-width: 767px) {
      margin: 1.3em 0;
    }
  }
}

section#core_values {
  background: url("./img/Mask Group.png") no-repeat, #015f4d no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
  padding: 6.77vw 0;
  @media (max-width: 767px) {
    padding: 40px 20px;
    text-align: center;
    background-size: cover;
    height: auto;
  }
  .content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 20px;
    .s3-bonobo-heading-block {
      color: #fff;
      strong {
        font-size: 1.2987012987012987vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5.1948vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: Somatic;
        font-size: 72px;
        line-height: 100px;
        @media (max-width: 767px) {
          font-size: 50px;
          line-height: 17.8vw;
          margin-bottom: -5.33vw;
        }
      }
    }
    .s3-bonobo-main-block {
      color: #fff;
      justify-content: space-between;
      margin-top: 2rem;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .card {
        border-radius: 13px;
        padding: 3.125vw 1.562vw;
        background-color: #005141;
        font-size: 15px;
        width: 27vw;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @media (max-width: 767px) {
          margin: 20px 0;
          width: 100%;
          text-align: left;
          padding: 12.5vw 6.25vw;
          height: auto;
        }
      }
      .card-heading {
        padding-bottom: 1.25vw;
        font-family: Somatic;
        font-size: 30px;
        line-height: 32px;
        @media (max-width: 767px) {
          font-size: 7.12vw;
          line-height: 6.68vw;
          padding-bottom: 5vw;
        }
      }
      .card-svg {
        img {
          width: 181px;
          height: 118px;
          margin-bottom: 2.083vw;
        }
      }
      .card-content {
        font-family:  'IBM Plex Sans Condensed', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        @media (max-width: 767px) {
        }
      }
    }
  }
}
section#Tokenomics {
  background: url("./img/s5.png"), #005141 no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  padding: 7vw 0 7vw 0;
  @media (max-width: 767px) {
    padding: 40px 20px;
    background-size: cover;
    height: auto;
  }
  .content {
    font-family: Somatic;
    color: #fff;
    max-width: 1250px;
    margin: auto;
    padding: 0px 20px;
    h2 {
      font-family: Somatic;
      font-size: 72px;
      line-height: 100px;
      @media (max-width: 767px) {
        text-align: center; 
        font-size: 50px;
        line-height: 70px;
      }
    }
    .s5-bonobo-content-main-block {
      margin-top: 2.604vw;
      @media (max-width: 767px){
        flex-direction: column;
      }
      .block-1 {
        .s5-bonobo-content-block-sub-child {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2em;
          justify-content: space-around;
          height: 100%;
          margin-left: 1rem;
          margin-right: 0.2rem;
          margin-left: 0.2rem;
          margin-top: 3rem;
          grid-gap: 2em;
        }
        .card-1,
        .card-2,
        .card-3 {
          border-radius: 13px;
          background-color: #015f4d;
          font-size: 13px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          max-width: 450px;
        }
        .card-1 {
          padding: 2.083vw 1.562vw;
          @media (max-width: 767px) {
            padding: 8.331vw 6.248vw;
          }
          div {
            position: relative;
            @media (max-width: 767px) {
              height: 12vw;
            }
            strong {
              color: #fccf00;
              width: 6.51vw;
              display: inline-block;
              font-family: Somatic;
              font-size: 30px;
              line-height: 30px;
              @media (max-width: 767px) {
                font-size: 7.332vw;
                line-height: 10.83vw;
                width: 20.04vw;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 5vw;
              }
            }
            span {
              position: relative;
              top: -0.392vw;
              font-family: 'IBM Plex Sans Condensed', sans-serif;
              font-size: 24px;
              line-height: 24px;
              @media (max-width: 767px) {
                font-size: 21px;
                display: inline-block;
                width: 48vw;
                margin-left: 20.8vw;
              }
            }
            .c {
              font-weight: bolder;
            }
          }
        }
        .card-2 {
          padding: 2.083vw 1.56vw;
          @media (max-width: 767px) {
            padding: 8.192vw 6.24vw;
          }
          .card-body {
            padding: 0;
            h5{
              font-family: Somatic;
              font-size: 30px;
              line-height: 32px;
              padding: 11px 3px;
            }
            p{
              font-family: 'IBM Plex Sans Condensed', sans-serif;
              font-size: 24px;
              line-height: 24px;
            }
          }
        }
      }
      .block-2 {
        @media (max-width: 767px) {
          width: 100%;
        }
        .card-1 {
          border-radius: 13px;
          background-color: #015f4d;
          box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
          position: relative;
          padding: 2vw 3vw;
          margin-top: -20vw;
          width: 100%;
          max-width: 450px;
          margin-left: 2.5vw;
          @media (max-width: 767px) {
            width: 90%;
            height: auto;
            padding: 8.32vw 6.24vw;
          }
          h5 {
            font-family: Somatic;
            font-size: 30px;
            line-height: 35px;
            padding: 11px 3px;
            span{
              color: #fccf00;
            }
          }
          h6 {
            font-family: Somatic;
            font-size: 24px;
            line-height: 29px;
            span{
              color: #fccf00;
            }
          }
        }
        .bonobo-head-svg-block {
          padding-left: 1.04vw;
          @media (max-width: 767px) {
            text-align: right;
          }
          .face {
            width: 14.37vw;
            position: relative;
            z-index: 3;
            @media (max-width: 767px) {
              left: 9.6vw;
              top: -8.13vw;
            }
          }
          .monkey {
            width: 25.26vw;
            z-index: 0;
            margin-top: -15.26vw;
            margin-left: 5.104vw;
            @media (max-width: 767px) {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.social-info-block {
  background: url("./img/info.png"), #00392e;
  width: 100%;
  height: 35.427vw;
  background-size: 100% 100%;
  padding: 7.2917vw 0 0 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    background-size: cover;
    height: auto;
  }
  .content {
    position: relative;
    .content-block {
      width: 22.135vw;
      display: inline-flex;
      margin-right: 14.25vw;
      color: #fff;
      @media (max-width: 767px) {
        width: 100%;
        margin: 2.08vw auto;
      }
      .txt-heading {
        font-family: "Gochi Hand", cursive;
        font-size: 3.125vw;
        line-height: 3.125vw;
        margin: 2.083vw 0 1.093vw 0;
        @media (max-width: 767px) {
          font-size: 12.5vw;
          line-height: 12.5vw;
          margin: 8.332vw 0 4.372vw 0;
        }
      }
      .txt-content {
        font-family: "Montserrat", sans-serif;
        font-size: 0.833vw;
        line-height: 1.25vw;
        font-weight: 500;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
        }
      }
      img {
        width: 6.25vw;
        @media (max-width: 767px) {
          width: 25vw;
        }
      }
    }
  }
}
section#Bonobo {
  background: url("./img/buyback.png") no-repeat, #00A259 no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  padding: 7vw 0 7vw 0;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
    background-size: cover;
  }
  .content {
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    h2 {
      font-family: Somatic;
      font-size: 72px;
      line-height: 100px;
      color: #fff;
      max-width: 651px;
      position: relative;
      .coins{
        position: absolute;
        top:0;
        right:0;
        z-index: 0;
      }
      span{
        position: relative;
        z-index: 1;
      }
      @media (max-width: 767px) {
        font-size: 50px;
        line-height: 70px;
      }
    }
    .bonobo-content-block {
      color: #fff;
      .card {
        display: inline-flex;
        background: none;
        border: none;
        padding: 30px;
        @media (max-width: 767px) {
          width: 100%;
          margin: auto;
        }
        .child-card {
          .step {
            div {
              span {
                font-size: 16px;
                font-family: 'Somatic';
                text-transform: uppercase;
                position: relative;
                z-index: 2;
                top: -2.1vw;
                @media (max-width: 767px) {
                  font-size: 3.332vw;
                  top: -5.956vw;
                }
              }
              strong {
                font-family: 'Somatic';
                font-size: 100px;
                color: #005141;
                position: relative;
                left: -0.3vw;
                @media (max-width: 767px) {
                  font-size: 20.832vw;
                  left: -1.2vw;
                }
              }
            }
          }
          .step-heading {
            font-size: 24px;
            margin-bottom: 1.042vw;
            font-family: 'Somatic';
            line-height: 32px;
            @media (max-width: 767px) {
              font-size: 5.6vw;
              margin-bottom: 4.168vw;
            }
          }

          .step-content {
            font-size: 20px;
            line-height: 24px;
            font-family: 'IBM Plex Sans Condensed', sans-serif;
            @media (max-width: 767px) {
              font-size: 3.332vw;
              line-height: 5vw;
            }
            a {
              color: #005141;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
section#milestones_ticker {
  background-color: #005141;
  width: 100%;
  position: relative;
  padding: 9vw 0 9vw 0;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .content {
    .card-flow::before {
      content: "";
      background: linear-gradient(272deg, #005141 19%, #00514100 27%);
      z-index: 5;
      position: absolute;
      top: 0;
      right: 0;
      width: 42%;
      height: 100%;
  }
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    h2 {
        font-family: Somatic;
        font-size: 72px;
        line-height: 100px;
        text-align: center;
        color: #fff;
        @media (max-width: 767px) {
          font-size: 50px;
          line-height: 70px;
        }
      }
    .heading {
      color: #fff;
      max-width: 501px;
      margin: auto;
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      
      p {
        font-family: Somatic;
        font-size: 25px;
        line-height: 26px;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
          width: 67vw;
        }
      }
    }
    .card-flow {
      width: 100%;
      overflow: hidden;
      padding-bottom: 15px;
      position: relative;
    }
    .card-section {
      position: relative;
      margin-top: 2.24vw;
      width: 8000px;
      transition: left 1s;
      @media(max-width: 767px){
        margin-left: 15px;
      }
      .card {
        padding: 1.56vw 1.56vw 0;
        box-shadow: 5px 8px 8px rgba(17, 17, 17, 0.2) !important;
        width: 14.27vw;
        height: 11.42vw;
        background: #015f4d;
        box-shadow: 0px 10px 30px rgba(17, 17, 17, 0.2);
        border-radius: 16px;
        position: relative;
        display: inline-block;
        margin-right: 2.03vw;
        @media (max-width: 767px) {
          width: 73vw;
          height: 64.98vw;
          margin-right: 0;
          padding: 6.24vw 6.24vw 0;
        }
        .overlay {
          position: absolute;
          z-index: 3;
          width: 14.27vw;
          height: 11.42vw;
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            #005141
          );
          left: 0;
          top: 0;
          @media (max-width: 767px) {
            width: 0;
            height: 0;
          }
        }
        .cards-header {
          div {
            img {
              width: 1.042vw;
              height: 1.042vw;
              margin-right: 0.52vw;
              @media (max-width: 767px) {
                width: 4.168vw;
                height: 4.168vw;
                margin-right: 2.08vw;
              }
            }
            span {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 800;
              font-size: 0.803vw;
              color: #ffffff;
              display: inline-flex;
              width: 7.76vw;
              @media (max-width: 767px) {
                font-size: 3.212vw;
                width: 31.04vw;
              }
            }
          }
        }
        .cards-body {
          p {
            margin-top: 0.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25vw;
            font-family: "Montserrat", sans-serif;
            font-size: 0.803vw;
            color: #ffffff;
            @media (max-width: 767px) {
              font-size: 3.212vw;
              line-height: 5vw;
              margin-top: 2vw;
            }
          }
        }
      }
    }
    .btns {
      margin-top: 2.5vw;
      @media (max-width: 767px) {
        margin-top: 5vw;
      }
      img {
        width: 3.37vw;
        padding: 0.573vw 0.83vw;
        border-radius: 20px;
        margin-right: 2vw;
        @media (max-width: 767px) {
          width: 13.48vw;
          padding: 2.292vw 5vw;
          margin-right: 8vw;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .greenbtn {
        background: #015f4d;
      }
      .yellowbtn {
        background: #fccf00;
      }
    }
  }
}
section#Roadmap {
  background: url("./img/S9.png") no-repeat, #015f4d no-repeat center center;
  background-size: cover;
  background-position: bottom center;
  padding: 7vw 0 7vw 0;
  @media (max-width: 767px) {
    padding: 40px 20px;
  }
  .content {
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    h2 {
      font-family: Somatic;
      font-size: 72px;
      line-height: 100px;
      color: #fff;
      @media (max-width: 767px) {
        font-size: 50px;
        line-height: 70px;
      }
    }

    .content-card-blocks {
      height: 100%;
      color: #fff;
      margin-top: 1.56vw;
      .content-card-block-1 {
        padding-top: 11vw;
        .card {
          margin: 0 auto;
          position: relative;
          background: none;
          border: none;
          margin-bottom: 2.23vw;
          max-width: 351px;
          @media (max-width: 767px) {
            width: 28.08vw;
            margin-bottom: 8.92vw;
          }
          div {
            div {
              background-color: #00a259;
              font-size: 24px;
              line-height: 32px;
              font-family: 'Somatic';
              border-radius: 30px;
              width: 11.8vw;
              height: 3vw;
              text-align: center;
              padding-top: 0.372vw;
              @media (max-width: 767px) {
                font-size: 3.86vw;
                width: 21.74vw;
                height: 8.76vw;
              }
            }
            ul {
              font-family:'IBM Plex Sans Condensed', sans-serif;
              margin-top: 2.415vw;
              font-size: 20px;
              @media (max-width: 767px) {
                line-height: 4.14vw;
                margin-top: 3.14vw;
                font-size: 3.415vw;
                padding-left: 2.89vw;
              }
            }
          }
        }
      }
      .content-card-block-2 {
        .card {
          margin: 0 auto;
          position: relative;
          background: none;
          border: none;
          margin-bottom: 2.23vw;
          max-width: 351px;
          @media (max-width: 767px) {
            width: 28.08vw;
            margin-bottom: 8.92vw;
          }
          div {
            div {
              background-color: #00a259;
              font-size: 24px;
              line-height: 32px;
              font-family: 'Somatic';
              border-radius: 30px;
              width: 11.8vw;
              height: 3vw;
              text-align: center;
              padding-top: 0.372vw;
              @media (max-width: 767px) {
                font-size: 3.86vw;
                width: 21.74vw;
                height: 8.76vw;
              }
            }
            ul {
              font-family: 'IBM Plex Sans Condensed', sans-serif;
              margin-top: 2.415vw;
              font-size: 20px;
              @media (max-width: 767px) {
                line-height: 4.14vw;
                margin-top: 3.14vw;
                font-size: 3.415vw;
                padding-left: 2.89vw;
              }
            }
          }
        }
      }
    }
  }
}
#charity{
  background-color: #fccf00;
  position: relative;
  padding: 3.12vw 0 3.12vw 0vw;
  .content{
    max-width: 1250px;
    margin: auto;
    width: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    @media (max-width: 767px){
      flex-direction: column;
      padding: 50px 15px;
      align-items: center !important;
      .py-2{
        text-align: center;
      }
    }
  }
  h2{
    font-family: Somatic;
    font-size: 50px;
    line-height: 60px;
    color: #005141;
    @media (max-width: 767px){
      font-size: 31px;
      text-align: center;
      line-height: 31px;
    }
  }
  p{
    font-family: Somatic;
    font-size: 30px;
    line-height: 32px;
    color: #005141;
    @media (max-width: 767px){
      font-size: 21px;
      text-align: center;
      line-height: 25px;
    }
  }
  h5{
    font-family:  'IBM Plex Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #005141;
    @media (max-width: 767px){
      font-size: 19px;
      text-align: center;
      line-height: 21px;
    }
  }
  .charity_wallet{
    text-align: right;
    button{
      width: 100%;
      text-align: right;
      background-color: #fff;
      color: #005141;
      font-family: 'IBM Plex Sans Condensed', sans-serif;
    }
  }
  .monkeys{
    border: 7px solid #fff;
    border-radius: 33px;
  }
}
section#team {
  background: #015f4d;
  padding: 7vw 0 7vw 0;
  @media (max-width: 767px) {
  }
  .content {
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    color: #fff;
    @media (max-width: 767px){
      flex-direction: column;
    }
    .s13-bonobo-content-card {
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
      h2 {
          font-family: "Somatic";
          font-size: 72px;
          line-height: 100px;
          @media (max-width: 767px) {
            font-size: 50px;
            line-height: 71px;
          }
        }
      p, li {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: 25px;
        line-height: 27px;
        @media (max-width: 767px) {
          font-size: 19px;
          line-height: 21px;
        }
      }
    }
    .s13-img-block {
      padding: 0 1.48vw;
      @media (max-width: 767px) {
        width: 87vw;
      }
      div {
        width: 17.7vw;
        margin-right: 3.28vw;
        display: inline-block;
        color: #fff;
        margin-bottom: 1.34vw;
        @media (max-width: 767px) {
          width: 33vw;
        }
        &:first-child {
          margin-left: 3.42vw;
          @media (max-width: 767px) {
            margin-left: 8.42vw;
          }
        }
        p {
          font-size: 24px;
          line-height: 32px;
          font-family: 'Somatic';
          @media (max-width: 767px) {
            font-size: 3.12vw;
            line-height: 5vw;
            margin-top: 1.26vw;
          }
        }
        img {
          width: 100%;
        }
      }
      .sline {
        strong,
        p {
          margin-left: 5.06vw;
          @media (max-width: 767px) {
            margin-left: 10.24vw;
          }
        }
      }
    }
  }
}
#team_donation{
  background-color: #fccf00;
  position: relative;
  padding: 3.12vw 0 3.12vw 0vw;
  .content{
    max-width: 1250px;
    margin: auto;
    width: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    @media (max-width: 767px){
      flex-direction: column;
      padding: 50px 15px;
      align-items: center !important;
      .py-2{
        text-align: center;
      }
    }
    .col-md-6{
      position: relative;
    }
  }
  h2{
    font-family: Somatic;
    font-size: 50px;
    line-height: 60px;
    color: #005141;
    z-index: 1;
    position: relative;
    @media (max-width: 767px){
      font-size: 31px;
      text-align: center;
      line-height: 31px;
    }
  }
  p{
    font-family: Somatic;
    font-size: 30px;
    line-height: 32px;
    color: #005141;
    z-index: 1;
    position: relative;
    @media (max-width: 767px){
      font-size: 21px;
      text-align: center;
      line-height: 25px;
    }
  }
  h5{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #005141;
    z-index: 1;
    position: relative;
    @media (max-width: 767px){
      font-size: 19px;
      text-align: center;
      line-height: 21px;
    }
  }
  .charity_wallet{
    text-align: center;
    .white-btn{
      width: 100%;
      text-align: right;
      background-color: #fff;
      color: #005141;
      font-family: 'IBM Plex Sans Condensed', sans-serif;
      border: none;
      border-radius: 30px;
      padding: 7px 47px;
      font-size: 25px;
      line-height: 30px;
    }
  }
  img{
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer {
  background-color: #000000;
  border-top: 10px solid #015f4d;
  color: #fff;
  position: relative;
  padding: 7vw 0 7vw 0;
  @media (max-width: 767px) {
    padding: 40px 20px;
    text-align: center;
  }
  .content {
    max-width: 1250px;
    margin: auto;
    padding: 0 20px;
    @media (max-width: 767px){
      flex-direction: column;
    }
    .media-block {
      padding: 2vw 3vw;
      p{
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: 25px;
        line-height: 27px;
      }
      a {
        margin-right: 3px;
        width: 37px !important;
        height: 37px !important;
        margin-top: 5px;
        @media (max-width: 767px) {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .email-block {
      @media (max-width: 767px) {
        margin: auto;
        text-align: center;
      }
      p {
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        @media (max-width: 767px) {
          font-size: 5.192vw;
          line-height: 6.64vw;
          margin-top: 5.17vw;
        }
      }
      ul{
        padding-left: 0;
        li{
          list-style: none;
          a{
            color:#fff;
            text-decoration: none;
          }
        }
      }
      
    }
  }
}

.dropbtn {
  color: white;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: none;
  position: absolute;
  background: #00392e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .drop_down_links {
  color: #fff;
  cursor: pointer;
  outline: inherit;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.main_tab_pointer {
  cursor: pointer;
}

.linear_gradient_font_color {
  background: linear-gradient(95.51deg, #00A259 4.36%, rgba(255, 255, 255, 0) 84.23%),linear-gradient(0deg, #FCCF00, #FCCF00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.linear_gradient_font_color2 {
  background: linear-gradient(
    to right,
    rgb(157, 157, 235) 0%,
    rgb(245, 92, 117) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
