.yellow-btn {
    height: 60px;
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    background-color: #fccf00;
    border: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    outline: inherit;
}
.green-btn {
    height: 60px;
    font-family: "Gochi Hand", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    background-color: #005141;
    border: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    outline: inherit;
}
.float-left {
    float: left;
    @media (max-width: 767px) {
        float: none;
    }
}
.float-right {
    float: right;
    @media (max-width: 767px) {
        float: none;
    }
}
.menu {
    @media (max-width: 767px) {
        padding: 20px;
    }
    .logo {
        margin-top: 10px;
        @media (max-width: 767px) {
            float: left;
        }
        @media (max-width: 932px) {
            margin-top: 5px;
            // width: 20%;
        }
    }
    .menutab {
        float: right;
        list-style: none;
        background: #00392e;
        width: 630px;
        padding: 24px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        li {
            float: left;
            font-size: 14px;
            font-family: "Montserrat", sans-serif;
            font-weight: 800;
            margin-right: 28px;
            &:last-child {
                margin-right: 0;
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
        @media (max-width: 932px) {
            width: 65%;
            padding: 15px;
            text-align: center;
            li {
                float: none;
                display: inline-block;
                font-size: 0.6rem;
                padding-left: 10px;
                margin-right: 10px;
            }
        }
    }
    height: 120px;
}
section:nth-child(1) {
    background: url("./img/s1.png") no-repeat, #015f4d no-repeat center center;
    width: 100%;
    height: 685px;
    background-size: 100% 100%;
    padding-bottom: 210px;
    @media (max-width: 767px) {
        background-size: cover;
    }
    .bonobo-content-card {
        color: #fff;
        margin: auto;
        @media (max-width: 767px) {
            text-align: center;
        }
        .bonobo-heading {
            strong {
                font-size: 1.2987012987012987vw;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
                color: #ffffff;
                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
            h1 {
                color: #ffffff;
                font-family: "Gochi Hand", cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 125px;
                line-height: 189px;
                @media (max-width: 767px) {
                    font-size: 99px;
                    line-height: 90px;
                }
                @media (max-width: 1103px) {
                    font-size: 99px;
                    line-height: 90px;
                }
                @media (max-width: 876px) {
                    font-size: 80px;
                    line-height: 80px;
                }
            }
        }
        .bonobo-content {
            margin-top: 1.5rem;
            p {
                font-family: "Montserrat", sans-serif;
                color: #fff;
                width: 37em;
                padding-bottom: 5px;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 24px;
                @media (max-width: 767px) {
                    width: 90%;
                    margin: auto;
                    font-size: 14px;
                }
                @media (max-width: 900px) {
                    width: 80%;
                    font-size: 12px;
                }
            }
        }
        .bonobo-button {
            margin-top: 40px;
        }
        .bonobo {
            width: 325px;
            position: relative;
            @media (min-width: 768px) {
                left: 40px;
                top: 114px;
            }
            @media (max-width: 767px) {
                width: 230px;
                top: 75px;
            }
            @media (min-width: 768px) and (max-width: 1200px) {
                width: 265px;
                left: 0;
            }
        }
        .bonobo-button {
            button {
                // background-color: #fccf00;
                // border: none;
                // padding: 7px 30px;
                // color: #fff;
                // border-radius: 25px;
                // font-family: "Gochi Hand", cursive;
                // cursor: pointer;
                // outline: inherit;
                width: 274px;
                @media (max-width: 767px) {
                    font-size: 22px;
                }
            }
        }
    }
}
section:nth-child(2) {
    background: #015f4d no-repeat center center;
    position: relative;
    max-width: 100%;
    height: 100%;
    min-height: 55.88835vw;
    overflow-y: auto;
    .content {
        width: 67%;
        margin: auto;
        @media (max-width: 767px) {
            width: 90%;
        }
        @media (min-width: 1920px) and(max-width:2560px) {
            margin-top: 6%;
            width: 57%;
        }
        @media (min-width: 1366px) and(max-width:1920px) {
            margin-top: 6%;
            width: 57%;
        }
        @media (min-width: 768px) and(max-width:1366px) {
            margin-top: 1%;
            width: 82%;
            height: auto;
        }
    }
    .s2-bonobo-content-card {
        padding: 5.5rem 0 10px;
        color: #fff;
        @media (max-width: 767px) {
            text-align: center;
        }
        @media (max-width: 1500px) {
            padding: 1.5rem 0 10px;
        }
        @media (max-width: 1600px) {
            button {
                width: 274px;
                margin-top: 1rem;
                font-size: 22px;
            }
        }
        @media (max-width: 1300px) {
            button {
                width: 200px;
                font-size: 20px;
                margin-top: 0rem;
                height: 50px;
            }
        }
        strong {
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            @media (max-width: 767px) {
                line-height: 45px;
            }
        }
        h2 {
            font-size: 3.5em;
            font-family: "Gochi Hand", cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 85px;
            line-height: 100px;
            @media (max-width: 767px) {
                line-height: 66px;
                font-size: 70px;
            }
            @media (max-width: 1500px) {
                font-size: 65px;
            }
            @media (max-width: 1400px) {
                font-size: 60px;
                // line-height: 0.5rem;
            }
            @media (max-width: 1300px) {
                font-size: 55px;
                // line-height: 0.5rem;
            }
        }
        ul {
            width: 75%;
            font-size: 11px;
            padding-left: 1.5rem !important;
            list-style: none;
            li {
                margin: 10px;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                span {
                    font-size: 27px;
                    margin-right: 10px;
                    position: relative;
                    top: -2px;
                }
            }
            @media (max-width: 1920px) and (min-width: 1520px) {
                li {
                    font-size: 17px;
                    line-height: 1.5rem;
                }
            }
            @media (max-width: 1500px) {
                width: 100%;
                font-size: 16px;
                line-height: 1.5rem;
            }
            @media (max-width: 1400px) {
                li {
                    font-size: 12px;
                    // line-height: 0.5rem;
                }
            }
            @media (max-width: 1300px) {
                li {
                    font-size: 12px;
                    // line-height: 0.5rem;
                }
            }
            @media (min-width: 768px) and(max-width:1024px) {
                width: 100%;
            }
        }
        p {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            b {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 24px;
            }
            @media (max-width: 1920px) and (min-width: 1500px) {
                width: 75%;
                font-size: 17px;
                line-height: 1.5rem;
            }
            @media (max-width: 1500px) {
                width: 100%;
                font-size: 16px;
                line-height: 1.5rem;
            }
            @media (max-width: 1400px) {
                width: 75%;
                font-size: 12px;
                // line-height: 0.5rem;
            }
            @media (max-width: 1300px) {
                width: 75%;
                font-size: 12px;
                b {
                    font-size: 12px;
                }
            }
            @media (min-width: 768px) and(max-width:1024px) {
                width: 100%;
            }
        }
        button {
            width: 274px;
            margin-top: 2.5rem;
            font-size: 22px;
        }
    }
    .leafsun {
        background: #00a259;
    }
}
.social-network-block {
    background-color: #fccf00;
    padding: 3.5rem 0rem 3.5rem 0rem;
    color: #fff;
    position: relative;
    max-width: 100%;
    height: 280px;
    min-height: 34.77344573234984vh;
    @media (max-width: 767px) {
        display: none !important;
    }
    @media (min-width: 768px) and(max-width:1366px) {
        padding: 1.5rem 0rem 1.5rem 0rem;
    }
    .content {
        width: 80%;
        margin: auto;
        @media (min-width: 1920px) and(max-width:2560px) {
            width: 77%;
        }
        @media (min-width: 1366px) and(max-width:1920px) {
            width: 77%;
        }
        @media (min-width: 768px) and(max-width:1366px) {
            width: 92%;
            height: auto;
        }
        .block {
            float: left;
        }
        .row {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        .media-block {
            display: flex;
            place-content: start;
            align-items: center;
            .media-icons {
                img {
                    width: auto;
                    height: 60px;
                    margin: 7px;
                    @media (min-width: 768px) and(max-width:1366px) {
                        height: 40px;
                    }
                }
            }
            .heading {
                font-family: "Gochi Hand", cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 3.2467532467532467vw;
                line-height: 60px;
                color: #ffffff;
                @media (min-width: 768px) and(max-width:1366px) {
                    font-size: 5.2467532467532467vw;
                }
            }
        }
        .email-block {
            div {
                p {
                    width: 15em;
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 1.2987012987012987vw;
                    line-height: 32px;
                    @media (min-width: 768px) and(max-width:1366px) {
                        width: 19em;
                        font-size: 20px;
                        line-height: 22px;
                    }
                }
                label {
                    font-family: "Montserrat", sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 0.8658008658008658vw;
                    line-height: 20px;
                }
                input[type="email"] {
                    width: 169px;
                    height: 60px;
                    padding: 14px 25px;
                    border: none;
                    width: 20em;
                    border-radius: 30px;
                    resize: vertical;
                    margin-top: 10px;
                    margin-right: 15px;
                }
                input:focus {
                    outline: none !important;
                }
                button {
                    width: 169px;
                }
            }
        }
    }
}
section:nth-child(4) {
    background: url("./img/Mask Group.png") no-repeat, #015f4d no-repeat;
    background-size: 100% 100%;
    position: relative;
    max-width: 100%;
    height: 100%;
    min-height: 55.88835vw;
    padding-bottom: 5rem;
    @media (max-width: 767px) {
        display: none;
    }
    .content {
        // width: 60%;
        // margin: 0 auto;
        width: 80%;
        margin: auto;
        @media (min-width: 1366px) and(max-width:1920px) {
            width: 78%;
        }
        @media (min-width: 768px) and(max-width:1365px) {
            width: 90%;
        }
        .s3-bonobo-heading-block {
            padding-top: 8.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            color: #fff;
            strong {
                font-size: 1.2987012987012987vw;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
            }
            h2 {
                font-size: 3.5em;
                font-family: "Gochi Hand", cursive;
                font-style: normal;
                font-weight: normal;
                font-size: 5.411255411255412vw;
                line-height: 100px;
            }
        }
        .s3-bonobo-main-block {
            color: #fff;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2em;
            justify-content: space-around;
            height: 100%;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 2rem;
            .card-1,
            .card-2,
            .card-3 {
                // width: 50%;
                border-radius: 13px;
                padding: 20px;
                background-color: #005141;
                font-size: 15px;
                height: 35em;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
            .card-1 .card-heading,
            .card-2 .card-heading,
            .card-3 .card-heading {
                margin: 10px 0px 10px 0px;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 1.2987012987012987vw;
                line-height: 32px;
                @media (min-width: 768px) and(max-width:1365px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .card-1 .card-svg,
            .card-2 .card-svg,
            .card-3 .card-svg {
                .heart-img {
                    width: 97.12px;
                    height: 80px;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                    @media (min-width: 768px) and(max-width:1365px) {
                        width: 70.12px;
                        height: 60px;
                        margin-bottom: 0rem;
                        margin-top: 0rem;
                    }
                }
                .handshake-img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    @media (min-width: 768px) and(max-width:1365px) {
                        width: 70.12px;
                        height: 60px;
                        margin-bottom: 0rem;
                        margin-top: 0rem;
                    }
                }
                .idea-img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    @media (min-width: 768px) and(max-width:1365px) {
                        width: 70.12px;
                        height: 60px;
                        margin-bottom: 0rem;
                        margin-top: 0rem;
                    }
                }
            }
            .card-1 .card-content,
            .card-2 .card-content,
            .card-3 .card-content {
                margin: 10px 0px 10px 0px;
                width: 90%;
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 0.8658008658008658vw;
                line-height: 24px;
                @media (min-width: 768px) and(max-width:1365px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
}

// section:nth-child(5) {
// 	background: url("./img/s5.png"), #005141 no-repeat center center;
// 	background-size: 100% 100%;
// 	position: relative;
// 	width: 100%;
// 	height: 990px;
// 	min-height: 67.25vw;
// 	@media (max-width: 767px) {
// 		display: none;
// 	}
// 	.container-fluid {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		font-family: "Montserrat", sans-serif;
// 		.heading {
// 			color: #fff;
// 			padding-top: 5.5rem;
// 			margin-left: 18rem;
// 			margin-right: 18rem;
// 			strong {
// 				font-size: 1.2987012987012987vw;
// 				font-family: "Montserrat", sans-serif;
// 				font-style: normal;
// 				font-weight: 800;
// 				line-height: 24px;
// 			}
// 			h2 {
// 				font-size: 3.5em;
// 				font-family: "Gochi Hand", cursive;
// 				font-style: normal;
// 				font-weight: normal;
// 				font-size: 5.411255411255412vw;
// 				line-height: 100px;
// 			}
// 		}
// 		.s5-bonobo-content-main-block {
// 			margin-left: 18rem;
// 			margin-right: 18rem;
// 			color: #fff;
// 			.s5-bonobo-content-block-1 {
// 				.s5-bonobo-content-block-sub-child {
// 					// display: flex;
// 					display: grid;
// 					grid-template-columns: 1fr 1fr;
// 					grid-gap: 2em;
// 					justify-content: space-around;
// 					height: 100%;
// 					margin-left: 1rem;
// 					margin-right: 0.2rem;
// 					margin-left: 0.2rem;
// 					margin-top: 3rem;
// 					grid-gap: 2em;
// 				}
// 				.card-1,
// 				.card-2,
// 				.card-3 {
// 					border-radius: 13px;
// 					background-color: #005141;
// 					font-size: 13px;
// 					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// 				}
// 				.card-1 {
// 					padding: 2rem;

// 					div {
// 						strong {
// 							font-family: "Montserrat", sans-serif;
// 							color: #fccf00;
// 							font-size: 2.1645021645021645vw;
// 							font-weight: 900;
// 							margin-right: 5px;
// 							// margin-left: 1rem;
// 							font-style: normal;
// 							font-weight: 800;
// 							line-height: 47px;
// 						}
// 						span {
// 							margin-left: 10px;
// 							font-size: 15px;
// 						}
// 						.c {
// 							font-weight: bolder;
// 						}
// 						.c1 {
// 							margin-left: 27px;
// 						}
// 					}
// 				}
// 				.card-2 {
// 					height: 19rem;
// 					.card-heading {
// 						margin-left: 1rem;
// 						margin-right: 1rem;
// 						margin-top: 1rem;
// 						font-family: "Montserrat", sans-serif;
// 						font-style: normal;
// 						font-weight: 800;
// 						font-size: 1.2987012987012987vw;
// 						line-height: 32px;
// 					}
// 					.card-body {
// 						width: 100%;
// 						div {
// 							margin: 0 auto;
// 							font-size: 1rem;
// 							padding: 0.5rem 0rem 0.5rem 0rem;
// 							// strong {
// 							// 	font-weight: bolder;
// 							// }
// 							span {
// 								font-family: "Montserrat", sans-serif;
// 								font-style: normal;
// 								// font-weight: 800;
// 								font-size: 0.8658008658008658vw;
// 								line-height: 24px;
// 							}
// 						}
// 					}
// 				}
// 				.card-3 {
// 					height: 19rem;
// 					.card-heading {
// 						font-family: "Montserrat", sans-serif;
// 						font-style: normal;
// 						font-weight: 800;
// 						font-size: 1.2987012987012987vw;
// 						line-height: 32px;
// 						// margin-bottom: px;
// 						margin: 1rem;
// 					}
// 					ul {
// 						font-family: "Montserrat", sans-serif;
// 						font-style: normal;
// 						// font-weight: 800;
// 						font-size: 0.8658008658008658vw;
// 						line-height: 24px;
// 						width: 89%;
// 						li {
// 							padding: 0rem 0rem 1rem 0rem;
// 							// margin: 1rem 0rem 1rem 0rem;
// 						}
// 					}
// 				}
// 			}
// 			.s5-bonobo-content-block-2 {
// 				.card-1 {
// 					border-radius: 13px;
// 					background-color: #005141;
// 					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// 					height: 44rem;
// 					font-size: 10px;
// 					position: relative;
// 					padding: 2rem 1rem 2rem 1rem;
// 					margin-top: 3rem;
// 					width: 90%;
// 					top: 26%;
// 					left: 3%;

// 					.card-heading {
// 						margin-left: 1rem;
// 						margin-top: 1rem;
// 						font-family: "Montserrat", sans-serif;
// 						font-style: normal;
// 						font-weight: 800;
// 						font-size: 1.2987012987012987vw;
// 						line-height: 32px;
// 					}
// 					p {
// 						margin-top: 15px;
// 						margin-left: 1rem;
// 						width: 90%;
// 						font-family: "Montserrat", sans-serif;
// 						font-style: normal;
// 						// font-weight: 800;
// 						font-size: 0.8658008658008658vw;
// 						line-height: 24px;
// 					}
// 					ul {
// 						z-index: 1;
// 						font-family: "Montserrat", sans-serif;
// 						font-style: normal;
// 						// font-weight: 800;
// 						font-size: 0.8658008658008658vw;
// 						line-height: 24px;
// 						margin-top: 1rem;
// 						li {
// 							// margin-left: 1rem;
// 							line-height: 20px;
// 							span {
// 								font-weight: 900;
// 								color: #fccf00;
// 							}
// 						}
// 					}
// 				}
// 				.bonobo-head-svg-block {
// 					position: absolute;
// 					top: 28%;
// 					right: 24%;
// 					z-index: 3;
// 					img {
// 						width: 16rem;
// 						height: auto;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media (max-width: 1366px) {
// 	section:nth-child(5) {
// 		.container-fluid {
// 			.heading {
// 				margin-left: 9rem;
// 				margin-right: 9rem;
// 			}
// 			.s5-bonobo-content-main-block {
// 				margin-left: 9rem;
// 				margin-right: 9rem;
// 				.s5-bonobo-content-block-2 {
// 					.bonobo-head-svg-block {
// 						top: 18%;
// 						right: 24%;
// 						img {
// 							width: 14rem;
// 						}
// 					}
// 					.card-1 {
// 						width: 80%;
// 						top: 11%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// .social-info-block {
// 	background: #00392e;
// 	@media (max-width: 767px) {
// 		display: none;
// 	}
// 	.content {
// 		padding: 105px 190px 0;
// 		position: relative;
// 		z-index: 2;
// 		.content-block {
// 			width: 377px;
// 			display: inline-block;
// 			margin-right: 82px;
// 			color: #fff;
// 			.txt-heading {
// 				font-family: "Gochi Hand", cursive;
// 				font-size: 42px;
// 				line-height: 40px;
// 				margin: 24px 0;
// 			}
// 			.txt-content {
// 				font-family: "Montserrat", sans-serif;
// 				font-size: 15px;
// 				font-weight: 500;
// 			}
// 		}
// 	}
// 	.infoimg {
// 		position: relative;
// 		z-index: 1;
// 		margin-top: -188px;
// 	}
// }
// section:nth-child(7) {
.section-7 {
	background: url("./img/MaskGroup5.svg"), #00ac4d no-repeat;
	background-size: 100%;
	background-repeat: no-repeat;
	// position: relative;
	// max-width: 100%;
	height: 1080px;
	// padding-top: 67px;
	// min-height: 84.29926238145416vh;
	@media (max-width: 1920px) and (min-width: 1800px) {
		height: 1030px;
	}
	@media (max-width: 1800px) and (min-width: 1700px) {
		height: 950px;
	}
	@media (max-width: 1700px) and (min-width: 1600px) {
		height: 860px;
	}
	@media (max-width: 1600px) and (min-width: 1500px) {
		height: 810px;
	}
	@media (max-width: 1500px) and (min-width: 1400px) {
		height: 760px;
	}
	@media (max-width: 1400px) and (min-width: 1300px) {
		height: 700px;
	}
	@media (max-width: 1300px) and (min-width: 1200px) {
		height: 670px;
	}
	@media (max-width: 1200px) and (min-width: 1100px) {
		height: 610px;
	}
	@media (max-width: 1100px) and (min-width: 1000px) {
		height: 580px;
	}
	@media (max-width: 992px) and (min-width: 768px) {
		height: 550px;
	}
	@media (max-width: 768px) {
		display: none;
	}
	.content {
		width: 70%;
		margin: auto;
		.s5-bonobo-heading-block {
			// font-family: "Gochi Hand", cursive;
			// font-weight: bolder;
			// margin: 2.5rem 0rem 2rem 0rem;
			color: #fff;
			div {
				// top:23rem;
				.sub {
					font-size: 1.2rem;
					font-weight: 900;
					font-family: "Montserrat", sans-serif;
				}
				.main {
					font-size: 5rem;
					font-family: "Gochi Hand", cursive;
					line-height: 60px;
					margin-bottom: 57px;
				}
			}
		}
		.bonobo-content-block {
			// display: grid;
			// grid-template-columns: 1fr 1fr 1fr;
			// grid-gap: 1em;
			// justify-content: space-around;

			color: #fff;
			.card {
				background: none;
				border: none;
				margin-bottom: 22px;
				.child-card {
					.step {
						div {
							span {
								font-size: 15px;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								position: relative;
								top: -1.5rem;
								left: 2.5rem;
								z-index: 1;
								text-transform: uppercase;
							}
							img {
								width: 50px;
								height: 65px;
								position: relative;
								top: -2rem;
								left: 1rem;
							}
						}
					}

					.step-num-1 {
						div {
							img {
								width: 30px;
							}
						}
					}

					.step-heading {
						font-size: 17px;
						font-weight: bolder;
						width: 70%;
						margin: 0rem 0rem 1rem 2.5rem;
					}

					.step-content {
						margin: 0rem 0rem 2rem 2.5rem;
						width: 70%;
						font-size: 14px;
					}
				}

				.c4,
				.c5,
				.c6 {
					top: 10%;
				}
			}
		}
	}
}

.section-8 {
	background-color: #005141;
	// background-color: red;
	max-width: 100%;
	height: 100%;
	// min-height: 115.299262vh;
	position: relative;
	padding-bottom: 30px;
	@media (max-width: 767px) {
		display: none;
	}
	.content {
		margin-right: 5rem;
		margin-left: 18rem;

		@media (max-width: 1200px) and (min-width: 992px) {
			margin-left: 13rem;
		}
		@media (max-width: 992px) and (min-width: 768px) {
			margin-left: 8rem;
		}
		@media (max-width: 768px) {
			display: none;
		}
		.heading {
			color: #fff;
			padding-top: 5.5rem;
			// margin-left: 18rem;
			// margin-right: 18rem;
			strong {
				font-size: 1.2987012987012987vw;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
			}
			h2 {
				font-size: 3.5em;
				font-family: "Gochi Hand", cursive;
				font-style: normal;
				font-weight: normal;
				font-size: 5.411255411255412vw;
				line-height: 100px;
				@media (max-width: 1200px) and (min-width: 992px) {
					font-size: 4.411255411255412vw;
					line-height: 50px;
				}
				@media (max-width: 992px) and (min-width: 768px) {
					font-size: 4.411255411255412vw;
					line-height: 50px;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
			p {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 0.8658008658008658vw;
				line-height: 24px;
				width: 31.764069264069263vw;
			}
			@media (max-width: 1200px) and (min-width: 992px) {
				padding-top: 3.5rem;
			}
			@media (max-width: 992px) and (min-width: 768px) {
				padding-top: 3rem;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		.card-section {
			.card-1,
			.card-2,
			.card-3,
			.card-4,
			.card-5 {
				// width: 274px;
				padding: 1rem;
				margin: 2rem;
				height: 200px;
				left: 353px;
				top: 6800px;
				background: #015f4d;
				box-shadow: 0px 10px 30px rgba(17, 17, 17, 0.2);
				border-radius: 16px;
				.cards-header {
					div {
						img {
							width: 20px;
							height: 20px;
							margin-right: 0.5rem;
						}
						span {
							font-family: "Montserrat", sans-serif;
							font-style: normal;
							font-weight: 800;
							font-size: 0.8658008658008658vw;
							line-height: 32px;
							color: #ffffff;
						}
					}
				}
				.cards-body {
					p {
						margin-top: 0.5rem;
						font-style: normal;
						font-weight: 500;
						line-height: 24px;
						font-family: "Montserrat", sans-serif;
						line-height: 24px;
						font-size: 0.8658008658008658vw;
						color: #ffffff;
						@media (max-width: 1200px) and (min-width: 992px) {
							line-height: 20px;
						}
						@media (max-width: 992px) and (min-width: 768px) {
							line-height: 1px;
						}
					}
				}
				@media (max-width: 1200px) and (min-width: 992px) {
					margin: 1rem;
				}
				@media (max-width: 992px) and (min-width: 768px) {
					margin: 0.8rem;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
		.pagination {
			margin-top: 2.5rem;
			button {
				img {
					width: 32px;
					height: 20px;
				}
			}
			.green-btn {
				width: 65px;
				height: 40px;
				background: #015f4d;
				border-radius: 20px;
				margin-right: 2rem;
				// transform: rotate(-180deg);

				@media (max-width: 992px) and (min-width: 768px) {
					width: 55px;
					height: 30px;
				}
			}
			.yellow-btn {
				width: 65px;
				height: 40px;
				background: #fccf00;
				border-radius: 20px;

				@media (max-width: 992px) and (min-width: 768px) {
					width: 55px;
					height: 30px;
				}
			}
			@media (max-width: 1200px) and (min-width: 992px) {
				margin-top: 1rem;
			}
			@media (max-width: 992px) and (min-width: 768px) {
				margin-top: 0.8rem;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}
// section:nth-child(9) {
.section-9 {
	background: url("./img/S9.png"), #015f4d no-repeat center center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 1685px;
	// padding-top: 30px;
	@media (max-width: 1920px) and (min-width: 1800px) {
		height: 1620px;
	}
	@media (max-width: 1800px) and (min-width: 1700px) {
		height: 1550px;
	}
	@media (max-width: 1700px) and (min-width: 1600px) {
		height: 1450px;
	}
	@media (max-width: 1600px) and (min-width: 1500px) {
		height: 1350px;
	}
	@media (max-width: 1500px) and (min-width: 1400px) {
		height: 1250px;
	}
	@media (max-width: 1400px) and (min-width: 1300px) {
		height: 1200px;
	}
	@media (max-width: 1300px) and (min-width: 1200px) {
		height: 1100px;
	}
	@media (max-width: 1200px) and (min-width: 1100px) {
		height: 1000px;
	}
	@media (max-width: 1100px) and (min-width: 1000px) {
		height: 880px;
	}
	@media (max-width: 992px) and (min-width: 768px) {
	}
	@media (max-width: 768px) {
		display: none;
	}
	.container {
		height: 100%;

		.s9-bonobo-heading-block {
			// height: 100%;
			div {
				color: #fff;
				position: relative;
				left: 5%;
				.sub {
					font-size: 1.3rem;
					width: 100%;
					font-family: "Montserrat", sans-serif;
				}
				.main {
					font-size: 6rem;
					font-family: "Gochi Hand", cursive;
				}
			}
		}

		.content-card-blocks {
			height: 100%;
			color: #fff;
			.content-card-block-1 {
				height: 100%;

				.card {
					margin: 0 auto;
					width: 50%;
					position: relative;
					background: none;
					border: none;
					div {
						div {
							background-color: #00a259;
							padding: 1rem 2rem 1rem 2rem;
							font-size: 1.4rem;
							font-family: "Montserrat", sans-serif;
							font-weight: 900;
							border-radius: 30px;
							width: 169px;
							height: 60px;
						}
						ul {
							font-family: "Montserrat", sans-serif;
							width: 86%;
							line-height: 1.5rem;
							margin-top: 2rem;
						}
					}
				}
				.content-block-1-card-1 {
					top: 20%;
				}
				.content-block-1-card-2 {
					top: 29%;
				}
				.content-block-1-card-3 {
					top: 33%;
				}

				@media (max-width: 1920px) and (min-width: 1800px) {
					.content-block-1-card-1 {
						top: 20%;
					}
					.content-block-1-card-2 {
						top: 29%;
					}
					.content-block-1-card-3 {
						top: 33%;
					}
				}
				@media (max-width: 1800px) and (min-width: 1720px) {
					.content-block-1-card-1 {
						top: 20%;
					}
					.content-block-1-card-2 {
						top: 29%;
					}
					.content-block-1-card-3 {
						top: 33%;
					}
				}
				@media (max-width: 1720px) and (min-width: 1600px) {
					.content-block-1-card-1 {
						top: 18%;
					}
					.content-block-1-card-2 {
						top: 24%;
					}
					.content-block-1-card-3 {
						top: 28%;
					}
				}
				@media (max-width: 1600px) and (min-width: 1500px) {
					.content-block-1-card-1 {
						top: 16%;
					}
					.content-block-1-card-2 {
						top: 22%;
					}
					.content-block-1-card-3 {
						top: 26%;
					}
				}
				@media (max-width: 1500px) and (min-width: 1400px) {
					.content-block-1-card-1 {
						top: 16%;
					}
					.content-block-1-card-2 {
						top: 19%;
					}
					.content-block-1-card-3 {
						top: 22%;
					}
				}
				@media (max-width: 1400px) and (min-width: 1300px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1.5rem;
								margin-top: 1.5rem;
							}
						}
					}
					.content-block-1-card-1 {
						top: 14%;
					}
					.content-block-1-card-2 {
						top: 15%;
					}
					.content-block-1-card-3 {
						top: 18%;
					}
				}
				@media (max-width: 1300px) and (min-width: 1200px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
								width: 75%;
							}
						}
					}
					.content-block-1-card-1 {
						top: 14%;
					}
					.content-block-1-card-2 {
						top: 20%;
					}
					.content-block-1-card-3 {
						top: 27%;
					}
				}
				@media (max-width: 1200px) and (min-width: 1100px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
								width: 75%;
							}
						}
					}
					.content-block-1-card-1 {
						top: 10%;
					}
					.content-block-1-card-2 {
						top: 16%;
					}
					.content-block-1-card-3 {
						top: 19%;
					}
				}
				@media (max-width: 1100px) and (min-width: 1000px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 139px;
								height: 40px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
								width: 75%;
							}
						}
					}
					.content-block-1-card-1 {
						top: 9%;
					}
					.content-block-1-card-2 {
						top: 14%;
					}
					.content-block-1-card-3 {
						top: 17%;
					}
				}
				@media (max-width: 992px) and (min-width: 768px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 139px;
								height: 40px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
								width: 75%;
							}
						}
					}
					.content-block-1-card-1 {
						top: 7%;
					}
					.content-block-1-card-2 {
						top: 11%;
					}
					.content-block-1-card-3 {
						top: 14%;
					}
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
			.content-card-block-2 {
				height: 100%;
				margin-left: 5rem;
				.card {
					margin: 0 auto;
					width: 80%;
					position: relative;
					background: none;
					border: none;
					div {
						div {
							background-color: #00a259;
							padding: 1rem 2rem 1rem 2rem;
							font-size: 1.4rem;
							font-family: "Montserrat", sans-serif;
							font-weight: 900;
							border-radius: 30px;
							width: 169px;
							height: 60px;
						}
						ul {
							font-family: "Montserrat", sans-serif;
							line-height: 1.5rem;
							margin-top: 2rem;
						}
					}
				}
				.content-block-2-card-1 {
					top: 7%;
				}
				.content-block-2-card-2 {
					top: 15%;
				}
				.content-block-2-card-3 {
					top: 24%;
				}
				.content-block-2-card-4 {
					top: 29%;
				}

				@media (max-width: 1920px) and (min-width: 1800px) {
					.content-block-2-card-1 {
						top: 7%;
					}
					.content-block-2-card-2 {
						top: 15%;
					}
					.content-block-2-card-3 {
						top: 24%;
					}
					.content-block-2-card-4 {
						top: 29%;
					}
				}
				@media (max-width: 1800px) and (min-width: 1720px) {
					.content-block-2-card-1 {
						top: 7%;
					}
					.content-block-2-card-2 {
						top: 15%;
					}
					.content-block-2-card-3 {
						top: 24%;
					}
					.content-block-2-card-4 {
						top: 29%;
					}
				}
				@media (max-width: 1720px) and (min-width: 1600px) {
					.content-block-2-card-1 {
						top: 5%;
					}
					.content-block-2-card-2 {
						top: 11%;
					}
					.content-block-2-card-3 {
						top: 18%;
					}
					.content-block-2-card-4 {
						top: 22%;
					}
				}
				@media (max-width: 1600px) and (min-width: 1500px) {
					.content-block-2-card-1 {
						top: 2%;
					}
					.content-block-2-card-2 {
						top: 8%;
					}
					.content-block-2-card-3 {
						top: 14%;
					}
					.content-block-2-card-4 {
						top: 18%;
					}
				}
				@media (max-width: 1500px) and (min-width: 1400px) {
					.content-block-2-card-1 {
						top: 2%;
					}
					.content-block-2-card-2 {
						top: 7%;
					}
					.content-block-2-card-3 {
						top: 12%;
					}
					.content-block-2-card-4 {
						top: 14%;
					}
				}
				@media (max-width: 1400px) and (min-width: 1300px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1.5rem;
								margin-top: 1.5rem;
							}
						}
					}
					.content-block-2-card-1 {
						top: 2%;
					}
					.content-block-2-card-2 {
						top: 7%;
					}
					.content-block-2-card-3 {
						top: 9%;
					}
					.content-block-2-card-4 {
						top: 10%;
					}
				}
				@media (max-width: 1300px) and (min-width: 1200px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
							}
						}
					}
					.content-block-2-card-1 {
						top: 2%;
					}
					.content-block-2-card-2 {
						top: 7%;
					}
					.content-block-2-card-3 {
						top: 11%;
					}
					.content-block-2-card-4 {
						top: 17%;
					}
				}
				@media (max-width: 1200px) and (min-width: 1100px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
							}
						}
					}
					.content-block-2-card-1 {
						top: -1%;
					}
					.content-block-2-card-2 {
						top: 3%;
					}
					.content-block-2-card-3 {
						top: 7%;
					}
					.content-block-2-card-4 {
						top: 11%;
					}
				}
				@media (max-width: 1100px) and (min-width: 1000px) {
					.card {
						margin: 0 auto;
						width: 70%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 1.5rem 0.5rem 1.5rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 139px;
								height: 40px;
							}
							ul {
								line-height: 0.9rem;
								margin-top: 0.9rem;
							}
						}
					}
					.content-block-2-card-1 {
						top: -4%;
					}
					.content-block-2-card-2 {
						top: 0%;
					}
					.content-block-2-card-3 {
						top: 3%;
					}
					.content-block-2-card-4 {
						top: 5%;
					}
				}
				@media (max-width: 992px) and (min-width: 768px) {
					.card {
						margin: 0 auto;
						width: 80%;
						position: relative;
						background: none;
						border: none;
						div {
							div {
								background-color: #00a259;
								padding: 0.5rem 2rem 0.5rem 2rem;
								font-size: 1.1rem;
								font-family: "Montserrat", sans-serif;
								font-weight: 900;
								border-radius: 30px;
								width: 149px;
								height: 45px;
							}
							ul {
								line-height: 1rem;
								margin-top: 1rem;
							}
						}
					}
					.content-block-2-card-1 {
						top: -4%;
					}
					.content-block-2-card-2 {
						top: 0%;
					}
					.content-block-2-card-3 {
						top: 3%;
					}
					.content-block-2-card-4 {
						top: 5%;
					}
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}
}
// section:nth-child(10) {
.section-10 {
	background: url("./img/s10.png") no-repeat, #00392e no-repeat center center;
	background-size: 100% 100%;
	// height: auto;
	@media (max-width: 767px) {
		display: none;
	}

	.content {
		.s10-bonobo-content-card {
			padding-top: 5.5rem;
			margin-left: 8rem;
			color: #fff;
			position: relative;
			top: 10%;
			left: 10%;
			padding-bottom: 20px;
			strong {
				font-size: 1.2987012987012987vw;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
			}
			h2 {
				font-size: 3.5em;
				font-family: "Gochi Hand", cursive;
				font-style: normal;
				font-weight: normal;
				font-size: 5.411255411255412vw;
				line-height: 80px;
				@media (max-width: 1200px) and (min-width: 992px) {
					font-size: 4.411255411255412vw;
					line-height: 46px;
				}
				@media (max-width: 992px) and (min-width: 768px) {
					// line-height: 16px;
					font-size: 3.411255411255412vw;
					line-height: 40px;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
			p {
				width: 70%;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 0.9658008658008658vw;
				line-height: 24px;
				margin-bottom: 10px;
				margin: 1rem 0rem 1rem 0rem;
				b {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 900;
					font-size: 0.9658008658008658vw;
					margin-bottom: 5px;
					line-height: 24px;
				}
				@media (max-width: 1200px) and (min-width: 992px) {
					line-height: 13px;
					margin-bottom: 2px;
				}
				@media (max-width: 992px) and (min-width: 768px) {
					// line-height: 16px;
					line-height: 13px;
					margin-bottom: 2px;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
			button {
				width: 274px;
				margin-top: 20px;
				height: 60px;
				font-family: "Gochi Hand", cursive;
				font-style: normal;
				font-weight: normal;
				font-size: 1.2987012987012987vw;
				line-height: 28px;
				text-align: center;
				background-color: #fccf00;
				border: none;
				color: #fff;
				border-radius: 30px;
				cursor: pointer;
				outline: inherit;
				@media (max-width: 1200px) and (min-width: 992px) {
					// line-height: 56px;
					width: 180px;
					margin-bottom: 15px;
					height: 40px;
				}
				@media (max-width: 992px) and (min-width: 768px) {
					// line-height: 16px;
					width: 180px;
					margin-bottom: 15px;
					height: 40px;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
			@media (max-width: 1720px) and (min-width: 1400px) {
				// width: 80%;
				left: 3%;
			}
			@media (max-width: 1400px) and (min-width: 1200px) {
				// width: 80%;
				left: 3%;
			}
			@media (max-width: 1200px) and (min-width: 992px) {
				left: 5%;
				padding-top: 3.5rem;
			}
			@media (max-width: 992px) and (min-width: 768px) {
				// line-height: 16px;
				left: 2%;
				top: 2%;
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	@media (max-width: 1920px) and (min-width: 1800px) {
		height: 1150px;
	}
	@media (max-width: 1800px) and (min-width: 1720px) {
		height: 1150px;
	}
	@media (max-width: 1720px) and (min-width: 1400px) {
		// height: 1100px;
		height: 1050px;
		// height: 1000px;
	}
	@media (max-width: 1400px) and (min-width: 1200px) {
		height: 1000px;
	}
	@media (max-width: 1200px) and (min-width: 992px) {
	}
	@media (max-width: 992px) and (min-width: 768px) {
	}
	@media (max-width: 768px) {
		display: none;
	}
}
// section:nth-child(11) {
.section-11 {
	background-color: #00a259;
	height: 530px;
	@media (max-width: 767px) {
		display: none;
	}
	.container {
		height: 100%;
		.s11-bonobo-content-card {
			color: #fff;
			position: relative;
			top: 20%;
			padding-top: 10%;
			strong {
				font-size: 1.1987012987012987vw;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
				// @media (max-width: 1400px) and (min-width: 1200px) {
				//     padding-left: 7%;
				// }
			}
			h2 {
				font-family: "Gochi Hand", cursive;
				font-style: normal;
				font-weight: normal;
				font-size: 5.211255411255412vw;
				line-height: 79px;
				// @media (max-width: 1400px) and (min-width: 1200px) {
				//     padding-left: 7%;
				// }
				@media (max-width: 992px) and (min-width: 768px) {
					font-size: 4.811255411255412vw;
					line-height: 45px;
				}
			}

			p {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 0.9058008658008658vw;
				line-height: 24px;
				b {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 900;
					font-size: 0.9658008658008658vw;
					line-height: 24px;
				}
				@media (max-width: 1720px) and (min-width: 1400px) {
					width: 80%;
				}
				@media (max-width: 1400px) and (min-width: 1200px) {
					width: 80%;
				}
				@media (max-width: 1200px) and (min-width: 992px) {
				}
				@media (max-width: 992px) and (min-width: 768px) {
					line-height: 16px;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
			@media (max-width: 1720px) and (min-width: 1400px) {
				left: 7%;
			}
			@media (max-width: 1400px) and (min-width: 1200px) {
				padding-left: 7%;
				left: 7%;
			}
			@media (max-width: 1200px) and (min-width: 992px) {
				padding-top: 7%;
				padding-left: 5%;
			}
			@media (max-width: 992px) and (min-width: 768px) {
				// padding-left: 2%;
				padding-top: 9%;
			}
		}

		.s11-dashboard-img-block {
			div {
				img {
					position: relative;
					width: 70%;
					height: auto;
					top: 8rem;
				}
			}
			@media (max-width: 1200px) and (min-width: 992px) {
				div {
					img {
						top: 6rem;
					}
				}
			}
			@media (max-width: 992px) and (min-width: 768px) {
				div {
					img {
						width: 90%;
						top: 5rem;
					}
				}
			}
		}
	}
	@media (max-width: 1200px) and (min-width: 992px) {
		height: 440px;
	}
	@media (max-width: 992px) and (min-width: 768px) {
		height: 380px;
	}
}
.section-12 {
	background-color: #005141;
	height: 480px;

	@media (max-width: 1720px) and (min-width: 1400px) {
		height: 480px;
	}
	@media (max-width: 1400px) and (min-width: 1200px) {
		height: 400px;
	}
	@media (max-width: 1200px) and (min-width: 992px) {
		height: 350px;
	}
	@media (max-width: 992px) and (min-width: 768px) {
		height: 300px;
	}
	@media (max-width: 768px) {
		display: none;
	}
	.s12-main-block {
		height: 100%;
		.nopadding {
			padding: 0 !important;
			margin: 0 !important;
		}
		.s12-bonobo-content-card {
			color: #fff;
			div {
				position: relative;
				top: 15%;
				left: 16%;

				@media (max-width: 1720px) and (min-width: 1400px) {
					top: 15%;
					left: 16%;
				}
				@media (max-width: 1400px) and (min-width: 1200px) {
					top: 15%;
					left: 16%;
				}
				@media (max-width: 1200px) and (min-width: 992px) {
					top: 11%;
					left: 13%;
				}
				@media (max-width: 992px) and (min-width: 768px) {
					top: 11%;
					left: 13%;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}

			strong {
				font-size: 1.1987012987012987vw;
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 800;
				line-height: 24px;
				text-transform: uppercase;
			}
			h2 {
				font-size: 3em;
				font-family: "Gochi Hand", cursive;
				font-style: normal;
				font-weight: normal;
				font-size: 5.411255411255412vw;
				line-height: 100px;
				@media (max-width: 1200px) {
					line-height: 50px;
				}
			}

			p {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 0.9058008658008658vw;
				line-height: 24px;
				width: 50%;
				b {
					font-family: "Montserrat", sans-serif;
					font-style: normal;
					font-weight: 900;
					font-size: 0.9658008658008658vw;
					line-height: 24px;
				}

				@media (max-width: 992px) and (min-width: 768px) {
					line-height: 15px;
				}
			}
		}
		.s12-vector-block {
			div {
				img {
					padding: 0 !important;
					margin: 0 !important;
					width: 100%;
					height: 100%;
				}
			}
			.s12_3 {
				img {
					height: 100%;
				}
			}
		}
	}
}

// section:nth-child(13) {
.section-13 {
	padding: 0 !important;
	margin: 0 !important;
	// background: url("./img/S13.png"), #015f4d no-repeat center center;
	background-color: #015f4d;
	// background-size: 1920px auto;
	height: 1180px;
	overflow: hidden;
	@media (max-width: 1720px) and (min-width: 1400px) {
		height: 1050px;
	}
	@media (max-width: 1400px) and (min-width: 1200px) {
		height: 900px;
	}
	@media (max-width: 1200px) and (min-width: 992px) {
		height: 800px;
	}
	@media (max-width: 992px) and (min-width: 768px) {
		height: 600px;
	}
	@media (max-width: 768px) {
		display: none;
	}
	.container-fluid {
		padding: 0 !important;
		margin: 0 !important;
		.s13-bonobo-content-card {
			.parent-content-block {
				padding-top: 10%;
				.child-content-block {
					width: 50%;
					margin: 0 auto;
					// left: 24%;
					color: #fff;

					strong {
						font-size: 1.1987012987012987vw;
						font-family: "Montserrat", sans-serif;
						font-style: normal;
						font-weight: 800;
						line-height: 24px;
						text-transform: uppercase;
					}
					h2 {
						font-size: 3em;
						font-family: "Gochi Hand", cursive;
						font-style: normal;
						font-weight: normal;
						font-size: 5.411255411255412vw;
						line-height: 100px;
					}

					p {
						font-family: "Montserrat", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 0.9058008658008658vw;
						line-height: 24px;
						// width: 50%;
					}
				}

				@media (max-width: 1920px) and (min-width: 1720px) {
					padding-top: 8%;
					margin-left: 5%;
				}
				@media (max-width: 1720px) and (min-width: 1400px) {
					padding-top: 8%;
				}
				@media (max-width: 1400px) and (min-width: 1200px) {
					padding-top: 8%;
					.child-content-block {
						width: 55%;
						strong {
							line-height: 2rem;
						}
						h2 {
							line-height: 5rem;
						}

						p {
							line-height: 1.3rem;
						}
					}
				}
				@media (max-width: 1200px) and (min-width: 992px) {
					padding-top: 5%;
					.child-content-block {
						width: 55%;

						strong {
							line-height: 16px;
						}
						h2 {
							line-height: 60px;
						}

						p {
							line-height: 16px;
						}
					}
				}
				@media (max-width: 992px) and (min-width: 768px) {
					padding-top: 2%;
					.child-content-block {
						width: 55%;

						strong {
							line-height: 16px;
						}
						h2 {
							line-height: 60px;
						}

						p {
							line-height: 16px;
						}
					}
				}
				@media (max-width: 768px) {
					display: none;
				}
			}

			.s13-bonobo-vector-cards {
				margin-top: 5%;
				.r1 {
					.col {
						img {
							width: 350px;
							height: auto;
						}
					}
				}
				.r2 {
					.b3 {
						img {
							width: 462px;
							height: auto;
						}
					}
					.col {
						img {
							width: 350px;
							height: auto;
						}
					}
				}
				@media (max-width: 1720px) and (min-width: 1400px) {
					height: 1050px;
				}
				@media (max-width: 1400px) and (min-width: 1200px) {
					.r1 {
						.col {
							img {
								width: 300px;
								height: auto;
							}
						}
					}
					.r2 {
						.b3 {
							img {
								width: 402px;
								height: auto;
							}
						}
						.col {
							img {
								width: 300px;
								height: auto;
							}
						}
					}
				}
				@media (max-width: 1200px) and (min-width: 992px) {
					.r1 {
						.col {
							img {
								width: 220px;
								height: auto;
							}
						}
					}
					.r2 {
						.b3 {
							img {
								width: 402px;
								height: auto;
							}
						}
						.col {
							img {
								width: 220px;
								height: auto;
							}
						}
					}
				}
				@media (max-width: 992px) and (min-width: 768px) {
					height: 600px;
					.r1 {
						.col {
							img {
								width: 200px;
								height: auto;
							}
						}
					}
					.r2 {
						.b3 {
							img {
								width: 402px;
								height: auto;
							}
						}
						.col {
							img {
								width: 200px;
								height: auto;
							}
						}
					}
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}
}
section:nth-child(14) {
	background-color: #002c24;
}
